{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h2 class="title text-info">Change Password</h2>

<div class="row">
    <div class="card">
        <div class="card-body padding">
            <form method="POST">
                {% csrf_token %}
                <!-- {{ form|crispy }} -->    
                <div class="form-group form-row">
                    <div class="form-group col-md-6">
                        <label>{{ form.first_name.label }}:</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>{{ form.last_name.label }}:</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{form.username.label}}:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label>{{ form.email.label }}:</label>
                    {{ form.email }}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-info" value="Save">
                    <a href="{% url 'account-password' %}" class="btn btn-warning" role="button"><i class="material-icons material-icons-lg">update</i>Update Password</a>                </div>
            </form>
        </div>
        <div class="card-footer padding-sides">
            <a href="{% url 'logout' %}" class="btn btn-danger" role="button"><i class="material-icons material-icons-lg">logout</i>Log Out</a>
            <a href="{% url 'account-delete' %}" class="btn btn-danger" role="button"><i class="material-icons material-icons-lg">delete_forever</i>Delete Account</a>
        </div>
    </div>
</div>
<style>
    .padding {
        padding: 2.55rem 2.55rem !important;
    }

    .padding-sides {
        padding: 2rem 1.55rem !important;
    }
    .material-icons-md {
        text-align: center !important;
        align-items: center !important;
        font-size: 20px !important;
    }
    .material-icons-lg {
        text-align: center !important;
        align-items: center !important;
        padding-right: 0.5rem !important;
        font-size: 24px !important;
    }
</style>

{% endblock %}
