{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h2 class="title text-info">Change Password</h2>

<div class="row">
    <div class="card">
        <div class="card-body padding">
            <form method="POST">
                {% csrf_token %}
                <!-- {{ form|crispy }} -->
                {{ form|crispy }}

                <input type="submit" class="btn btn-info" value="Save">
            </form>
        </div>
    </div>
</div>
<style>
    .padding {
        padding: 2.55rem 2.55rem !important;
    }

    .padding-sides {
        padding: 2rem 1.55rem !important;
    }
    .material-icons-md {
        text-align: center !important;
        align-items: center !important;
        font-size: 20px !important;
    }
    .material-icons-lg {
        text-align: center !important;
        align-items: center !important;
        padding-right: 0.5rem !important;
        font-size: 24px !important;
    }
</style>

{% endblock %}
