{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="card card-nav-tabs" style="width: 32rem; margin: 2rem;">
        <h4 class="card-header card-header-danger text-center">
            <strong>Missing</strong>
        </h4>
        {% if assignments %}
                <ul class="list-group list-group-flush" style="padding-left: 2rem; padding-right: 2rem;">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                <strong>Name</strong>
                            </th>
                            <th>
                                <strong>Due Date</strong>
                            </th>
                            <th>
                                <strong>Class</strong>
                            </th>
                        </thead>
                        <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.time_ago %}
                            <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                <tr>
                                    <td>
                                        {{ assignment.assignment_name }}
                                    </td>
                                    <td class="text-danger">
                                        {{ assignment.due_date }}
                                    </td>
                                    <td>
                                        {{ assignment.assignment_class }}
                                    </td>
                                    <!-- <td class="text-primary">
                                        $36,738
                                    </td> -->
                                </tr>

                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>
                </ul>
        {% endif %}
        </div>
    </div>

    <div class="col-sm">
        <div class="card card-nav-tabs" style="width: 57rem; margin: 2rem;">
            <h4 class="card-header card-header-info text-center">
                <strong>Upcoming</strong>
            </h4>
        </h4>
         {% if assignments %}
                <ul class="list-group list-group-flush" style="padding-left: 2rem; padding-right: 2rem;">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                <strong>Name</strong>
                            </th>
                            <th>
                                <strong>Due Date</strong>
                            </th>
                            <th>
                                <strong>Class</strong>
                            </th>
                        </thead>
                        <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.time_ago == False %}
                            <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                <tr>
                                    <td>
                                        {{ assignment.assignment_name }}
                                    </td>
                                    <td>
                                        {{ assignment.due_date }}
                                    </td>
                                    <td>
                                        {{ assignment.assignment_class }}
                                    </td>
                                    <!-- <td class="text-primary">
                                        $36,738
                                    </td> -->
                                </tr>

                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>
                </ul>
        {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}