{% extends 'base.html' %}

{% block content %}

<div class="row">
        <div class="col-md-5">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-danger text-center">
                    <strong>Missing</strong>
                </h4>
                {% if assignments %}
                        <ul class="list-group list-group-flush">
                            <table class="table table-hover text-center">
                                <thead class=" text-primary">
                                    <th>
                                        <strong>Name</strong>
                                    </th>
                                    <th>
                                        <strong>Due Date</strong>
                                    </th>
                                    <th>
                                        <strong>Class</strong>
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                            {% for assignment in assignments %}
                                {% if assignment.time_ago and assignment.completed == False %}
                                    <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                    <tr>        
                                        <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                            {{ assignment.assignment_name }}
                                        </td>
                                        <td class="text-danger" onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                            {{ assignment.due_date }}
                                        </td>
                                        <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                            {{ assignment.assignment_class }}
                                        </td>
                                        <td>
                                            <button class="btn btn-success" onclick="location.href='{% url "assignment-complete" assignment.pk %}'" style="padding: 7px 7px; border-radius: 50%;"><i class="material-icons">check</i></button>
                                        </td>
                                        <!-- <td class="text-primary">
                                            $36,738
                                        </td> -->
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-7">
        <div class="card card-nav-tabs">
            <h4 class="card-header card-header-info text-center">
                <strong>Upcoming</strong>
                <a href="{% url 'new-assignment' %}">
                    <i class="material-icons justify-content-center float-right" style="font-size: 160%">add</i>
                </a>
            </h4>
         {% if assignments %}
                <ul class="list-group list-group-flush">
                    <table class="table table-hover text-center">
                        <thead class=" text-primary">
                            <th>
                                <strong>Name</strong>
                            </th>
                            <th>
                                <strong>Due Date</strong>
                            </th>
                            <th>
                                <strong>Class</strong>
                            </th>
                            <th></th>
                        </thead>
                        <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.time_ago == False and assignment.completed == False %}
                            <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                <tr>
                                    <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                        {{ assignment.assignment_name }}
                                    </td>
                                    <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                        {{ assignment.due_date }}
                                    </td>
                                    <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                        {{ assignment.assignment_class }}
                                    </td>
                                    <td>
                                        <button class="btn btn-success" onclick="location.href='{% url "assignment-complete" assignment.pk %}'" style="padding: 7px 7px; border-radius: 50%;"><i class="material-icons">check</i></button>
                                    </td>
                                    <!-- <td class="text-primary">
                                        $36,738
                                    </td> -->
                                </tr>

                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>
                </ul>
        {% endif %}
        </div>
    </div>
</div>

{% if assignments and assignment_completed_count > 0 %}
    <div class="card card-nav-tabs">
        <h4 class="card-header card-header-success text-center">
            <strong>Marked as Done</strong>
        </h4>
            <ul class="list-group list-group-flush">
                <table class="table table-hover text-center">
                    <thead class=" text-primary">
                        <th>
                            <strong>Name</strong>
                        </th>
                        <th>
                            <strong>Due Date</strong>
                        </th>
                        <th>
                            <strong>Class</strong>
                        </th>
                    </thead>
                    <tbody>
                    
                    {% for assignment in assignments %}
                        {% if assignment.completed %}
                    <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                        <tr>        
                            <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                {{ assignment.assignment_name }}
                            </td>
                            <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                {{ assignment.due_date }}
                            </td>
                            <td onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                {{ assignment.assignment_class }}
                            </td>
                            <!-- <td class="text-primary">
                                $36,738
                            </td> -->
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </ul>
    </div>
</div>

{% endif %}
{% endblock %}

