{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="col-sm-4">
            <div class="card card-nav-tabs">
                <h4 class="card-header card-header-danger text-center">
                    <strong>Missing</strong>
                </h4>
                {% if assignments %}
                        <ul class="list-group list-group-flush">
                            <table class="table text-center">
                                <thead class=" text-primary">
                                    <th>
                                        <strong>Name</strong>
                                    </th>
                                    <th>
                                        <strong>Due Date</strong>
                                    </th>
                                    <th>
                                        <strong>Class</strong>
                                    </th>
                                </thead>
                                <tbody>
                            {% for assignment in assignments %}
                                {% if assignment.time_ago %}
                                    <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                    <tr onclick="location.href='{% url "assignment-detail" assignment.pk %}'">        
                                        <td>
                                            {{ assignment.assignment_name }}
                                        </td>
                                        <td class="text-danger">
                                            {{ assignment.due_date }}
                                        </td>
                                        <td>
                                            {{ assignment.assignment_class }}
                                        </td>
                                        <!-- <td class="text-primary">
                                            $36,738
                                        </td> -->
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                </tbody>
                            </table>
                        </ul>
                {% endif %}
            </div>
        </div>
        
        <div class="col-sm-7">
        <div class="card card-nav-tabs">
            <h4 class="card-header card-header-info text-center">
                <strong>Upcoming</strong>
                <a href="{% url 'new-assignment' %}">
                    <i class="material-icons justify-content-center float-right" style="font-size: 160%">add</i>
                </a>
            </h4>
         {% if assignments %}
                <ul class="list-group list-group-flush">
                    <table class="table text-center">
                        <thead class=" text-primary">
                            <th>
                                <strong>Name</strong>
                            </th>
                            <th>
                                <strong>Due Date</strong>
                            </th>
                            <th>
                                <strong>Class</strong>
                            </th>
                        </thead>
                        <tbody>
                    {% for assignment in assignments %}
                        {% if assignment.time_ago == False %}
                            <!-- <li class="list-group-item">{{ assignment.assignment_name }}</li> -->
                                <tr onclick="location.href='{% url "assignment-detail" assignment.pk %}'">
                                    <td>
                                        {{ assignment.assignment_name }}
                                    </td>
                                    <td>
                                        {{ assignment.due_date }}
                                    </td>
                                    <td>
                                        {{ assignment.assignment_class }}
                                    </td>
                                    <!-- <td class="text-primary">
                                        $36,738
                                    </td> -->
                                </tr>

                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>
                </ul>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}