{% extends 'base_login_registration.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h2 class="title text-info">Register</h2>

<form method="POST">
    {% csrf_token %}
    <!-- {{ form|crispy }} -->
 
    <div class="form-group">
        <label>{{form.username.label}}:</label>
        {{ form.username }}
    </div>

    <div class="form-group form-row">
        <div class="form-group col-md-6">
            <label>{{ form.first_name.label }}:</label>
            {{ form.first_name }}
        </div>

        <div class="form-group col-md-6">
            <label>{{ form.last_name.label }}:</label>
            {{ form.last_name }}
        </div>
    </div>

    <div class="form-group">
        <label>{{ form.email.label }}:</label>
        {{ form.email }}
    </div>

    <div class="form-group form-row">
        <div class="form-group col-md-6">
            <label>{{ form.password1.label }}:</label>
            {{ form.password1 }}
        </div>

        <div class="form-group col-md-6">
            <label>{{ form.password2.label }}:</label>
            {{ form.password2 }}
        </div>
    </div>

    <input type="submit" class="btn btn-info" value="Register">
  </form>
  
  <p class="text-white">Already have an account? <a href="{% url 'login' %}" class="text-info">Login</a></p>

  <script>

  </script>
{% endblock %}
